.about-parent {
  height: auto;
  width: 100%;
  padding: 40px 0px;
  

  .about-cont {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
    }
  }
}

// founder

.founder-parent {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  background-color: var(--section_divide);

  .founder-cont {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: var(--unit);

    .founder-image {
      width: 50%;
      height: auto;
      // background-color: red;
      position: relative;

      &::after {
        height: 80%;
        content: "";
        aspect-ratio: 1;
        background-color: var(--accent);
        position: absolute;
        left: 10%;
        top: 0;
      }

      &::before {
        content: "";
        height: 80%;
        aspect-ratio: 1;
        position: absolute;
        right: 10%;
        bottom: 0;
        background-color: var(--accent);
        filter: opacity(0.5);
      }

      img {
        height: 80%;
        aspect-ratio: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }

    .founder-desc {
      padding: 20px 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: var(--unit);
      width: 50%;

      
      p{
        color: var(--black);
      }
    }
  }
}

.mission-vision {
  width: 100%;
  padding: 20px 0px;
  height: auto;

  .misvis-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .vismis_card {
      width: 400px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: var(--unit);
      overflow: hidden;
      box-shadow: var(--shadow);

      .image {
        width: 100%;
        aspect-ratio: 1;
        // background-color: red;

        .overlay {
          height: 100%;
          width: 100%;
          background-color: rgba(255, 0, 0, 0.24);
          display: flex;
          justify-content: center;
          align-items: center;

          h1 {
            color: var(--white);
            font-size: calc(var(--unit)*2);
          }
        }
      }

      .vis_mis_desc {
        padding: 40px 20px;
        background-color: rgb(173, 173, 173);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .icon {
          width: 50px;
          aspect-ratio: 1;
          border:3px solid rgb(173, 173, 173);
          background-color: var(--accent);
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: -20%;
          transform: translateX(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            color: var(--white);
          }
        }

        p {
          color: var(--white);
          text-align: center;
        }
      }
    }
  }
}

.faq-parent {
  width: 100%;
  height: auto;
  padding: 30px 0px;
  background-color: var(--section_divide);

  .faq-cont {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: stretch;
    gap: calc(var(--unit)*2);

    .left {
      width: 50%;
      height: auto;
      background-image: url("../../assests/faq_image.webp");
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: calc(var(--unit)/2);
      transition: var(--trans-m);
    }

    .right {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: var(--unit);

      h5 {
        font-size: calc(var(--unit) * 2);
      }
      p {
        font-size: var(--unit);
      }

      .faq-list {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--unit);

        .faq {
          width: 100%;
          .heading {
            padding: calc(var(--unit) / 2);
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            background-color: var(--white);
            cursor: pointer;


            &.active{
              background-color: transparent;
              border: 1px solid var(--black);
            }

            p {
              font-weight: 800;
              color: var(--black);
            }
            .icon {
              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                color: var(--accent);
                font-size: calc(var(--unit) * 2);
                transition: var(--trans-m);
              }

              &.active {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
          }

          .content {
            transition: var(--trans-m);
            border: none;
            overflow: hidden;
            height: 0px;

            &.active {
              height: fit-content;
              border: 1px solid var(--black);
              border-top: none;
              padding: calc(var(--unit) / 2);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .founder-parent {
    .founder-cont {
      flex-direction: column;
      padding: 0px 20px;
      .founder-image {
        width: 100%;
        aspect-ratio: 1;

        &::after {
          left: 0 !important;
        }

        &::before {
          right: 0 !important;
        }
      }

      .founder-desc {
        width: 100%;
      }
    }



  }


  .mission-vision{
    .misvis-cont{
      flex-direction: column;

      gap: var(--unit);
    }
  }

  .faq-parent{
    .faq-cont{

      flex-direction: column;


      .left{
        width: 100% !important;
        aspect-ratio: 1;
      }

      .right{
        width: 100% !important; 
      }
    }
  }
}

@media screen and (max-width :450px) {
  .mission-vision{
    .misvis-cont{
      padding: 0px 20px;
      .vismis_card{
        width: 100% !important;
      }
    }
  }
}