@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap");

.before_footer {
  height: auto;
  width: 100%;
  // // height: 100svh;
  height: 700px;
  .before_footer_cont {
    position: relative;
    padding: 0px 20px;

    .video-section {
      width: 100%;
      height: fit-content;
      background-color: red; /* You can change this */
      position: relative;
      left: 50%;
      bottom: -10%;
      transform: translateX(-50%);
      border-radius: var(--unit);
      display: flex;
      justify-content: center;
      align-items: center;
  //  overflow: hidden;
      .react-player {
        position: absolute;
        top: 0;
        right: 0;
        object-fit: cover !important;
        width: 100% !important;
        height: 100% !important;

        video{
          height: auto !important;
          border-radius:var(--unit)!important;
        }
      }
    }
  }
}

.footer-parent {
  width: 100%;
  height: auto;
  padding: 80px 0px;
  background-color: #464646;

  .footer-cont {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--unit) * 2);
    // padding: 0px 20px;

    .gandhi-about {
      width: 400px !important;
    }
    .gandhi-about,
    .nav-links,
    .privacy,
    .last {
      width: fit-content;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: calc(var(--unit) / 2);
      img {
        width: 50%;
      }

      p {
        font-size: calc(var(--unit) - 5px);
        color: var(--white);
        line-height: 140%;
        text-align: justify;
      }

      a {
        font-size: calc(var(--unit));
        color: var(--white);
        transition: var(--trans-m);

        &:hover {
          color: var(--accent);
        }
      }

      h4 {
        font-family: "Aguafina Script", cursive;
        font-weight: 400;
        color: var(--accent);
        font-size: calc(var(--unit) * 2);
      }
      .social_icons {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--unit);
        .icons {
          width: 50px;
          aspect-ratio: 1;
          background-color: grey;
          border-radius: calc(var(--unit) / 2);
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;

          svg{
            font-size: calc(var(--unit) + 5px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {

  .before_footer{
    height: 580px;
  }
  .footer-parent {
    .footer-cont {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: calc(var(--unit) * 2) !important;

      .gandhi-about {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .before_footer{
    height:350px;
  }
  .footer-parent {
    .footer-cont {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 600px){
  .before_footer{
    height: 290px ;
  }
}

@media screen and (max-width: 450px) {
  .before_footer{
    height: 190px !important;
  }
  .footer-parent {
    .footer-cont {
      .gandhi-about {
        p {
          width: auto;
          height: fit-content !important;
        }
      }
    }
  }
}

.side-icons {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--unit);
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 999999;

  .s-icon {
    width: 50px;
    aspect-ratio: 1;
    border-radius: calc(var(--unit) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--accent);

    svg{
      font-size: 32px;
      color: var(--white);
    }
  }
}
