// First Section
.home-parent {
 
}

// Second Section
.home-about-parent {
  background-color: white;
  .home-about-cont {
    text-align: center;

    padding: 50px 0px;
    h2{
      padding-bottom:40px;
    }
    .main-section {
      display: flex;
      width: 100%;
      padding: 20px 0px 0px 0px;
      gap: var(--unit);
      .left-box {
        background: red;
        border-radius: 10px;
        height: 300px;
        width: 50%;
      }
      .right-box {
        width: 50%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          text-align: left;
        }
        .btn {
          width: fit-content;
        }
      }
    }
    @media only screen and (max-width:1200px){
      .main-section{
        padding:0px 20px;
      }
      @media only screen and (max-width:900px){
        .main-section{
          display: flex;
          flex-direction: column;
          .left-box,.right-box{
            width:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            p{
              text-align: center;
            }
            
          }
        }
      }
    }
  }
}

// Third Section
.home-fac-parent {
  background:rgba(128, 128, 128, 0.373);
  .home-fact-cont {
    padding: 50px 0px;
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
    .fac-box {
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      gap: calc(var(--unit) * 2);

      .left-fac {
        width: 50%;
        display: flex;
        flex-direction: column;
      }
      .right-fac {
        width: 50%;
        display: flex;
        gap: var(--unit);
        .left-box,
        .right-box {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: var(--unit);
          .box1,
          .box2,
          .box3,
          .box4 {
            background-color: white;
            border-radius: 10px;
            padding: 20px 10px;
            gap: calc(var(--unit) / 2);
            display: flex;
            flex-direction: column;
            .card-head {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .number {
                font-size: 16px;
                background: red;
                border-radius: 50%;
                padding: 5px;
                color:white;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .icon {
                svg {
                  color: red;
                }
              }
            }
          }
        }
        .right-box {
          margin-top: 100px;
        }
      }
    }
    @media only screen and (max-width:1200px){
      .fac-box{
        padding:0px 20px;
      }
    }
    @media only screen and (max-width:900px){
      .fac-box{
        flex-direction: column;
        .left-fac,.right-fac{
          width: 100%;
          text-align: center;
        }
      }
    }
    @media only screen and (max-width:700px){
      .fac-box{
        .right-fac{
          display: flex;
          flex-direction: column;
          .left-box,.right-box{
            width: 100%;
          }
          .right-box{
            margin-top: 0px;
          }
        }
      }
    }
  }
}

// Forth Section

.forth-sec-parent {
  margin: 0px 0px 300px 0px;
  background: url("../../assests/bus.jpg");
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.575);
  }
  h2 {
    text-align: center;
    color: white;
    position: absolute;
    z-index: 2;
  }
  .forth-sec-cont {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 100%;
    .swiper-pagination {
      bottom: -20px !important;
    
      height: 60px;
      position: relative;
      .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
      }
    }
  }
}
// Fifth Section
.fifth-section-parent {
  margin-bottom: 50px;
  padding: 100px 0px 50px 0px;
  background:linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.377)),url("../../assests/vehicles//20_s_pushback/20_s_pushback.jpg");
 background-attachment: fixed;
 background-size:cover;
 background-repeat: no-repeat;
 background-position: center center;
  .fifth-section-cont {
    h2 {
      text-align: center;
      position: absolute;
      left: 50%;
      width:100%;
      transform: translate(-50%, -50%);
      color:white;
      span {
        color: var(--accent);
      }
    }
    .test {
      padding-top: 50px;
    }
  }
}
