.pagetop-parent {
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assests/tp_bg.png");

    .page-top-cont {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            color: var(--white);
        }
    }
}
