.card-main-box {
    display: flex;
    gap:10px;
    .left-card,
    .middle-card,
    .right-card {
      display: flex;
      height: 500px;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      .top,
      .bottom {
        width:100%;
        height: 250px;
        border-radius: 10px;
      }
    }
  }
  .swiper-button-prev,.swiper-button-next{
    background:white;
    border-radius: 50px;
    width:30px;
    height:30px;
    color:var(--accent);
    
  }
  .swiper-button-prev:after,.swiper-button-next:after{
    font-size: 14px;
  }
  @media only screen and (max-width:1000px){
    .card-main-box{
      flex-direction: column;
    }
  }
  
   