:root {
  --black: #000;
  --white: #ffffff;
  --white2: rgb(245, 245, 240);
  --accent:#ff0000;
  // figma color codes
  --max-width: 1200px;
  // other colors
  --success: #4cda00;
  --success-l: #e1ffd1;
  --info: #2a83f2;
  --info-l: #dfedff;
  --error: #ff4d00;
  --error-l: #ffebed;
  // other variable
  --unit: 20px;
  --btn-h: 40px;
  --trans-s: all 1s ease-in-out;
  --trans-q: all 0.3s ease-in-out;
  --trans-m: all 0.6s ease-in-out;
  --shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

// custom fonts

*,
*::after,
*::before {
  // border: 1px solid red;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "nexa-book", sans-serif;
  font-size: calc(var(--unit) + (var(--unit) / 3));
  // color: var(--black);
}

body {
  overflow-x: hidden;
  min-height: 100svh;
  width: 100svw;
  background: var(--white2);
  p{
    font-size: 22px;
  }
}

html {
  scroll-behavior: smooth;
}

.bg-img-cover {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.bg-img-contain {
  background-position: center center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

a {
  text-decoration: none;
  cursor: pointer;

}

.parent {
    width: 100%;
  
    .cont {
      max-width: var(--max-width);
      margin: auto;
      padding: 0px 10px;
      height: 100%;
    }
  }

.bg-img-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-links {
  color: var(--info);
}

.heading {
  font-family: "nexa-bold";
}

.btn {
  width: auto;
  padding: calc(var(--unit) / 2) var(--unit);
  border-radius: 25px;
  border: 1px solid var(--accent);
  background-color: transparent;
  color: var(--accent);
  font-size: var(--unit);
  font-weight: 500;
  transition: var(--trans-m);

  &:hover{
    background-color: var(--accent);
    color: var(--white);
  }
}
.btn-active {
  width: auto;
  padding: calc(var(--unit) / 2) var(--unit);
  border-radius: 25px;
  border: 1px solid var(--accent);
  
  font-size: var(--unit);
  font-weight: 500;
  transition: var(--trans-m);
  background-color: var(--accent);
  color: var(--white);

  &:hover{
    background-color: transparent;
    color: var(--accent);
  }
}


